<h1>Our Lunch and Dinner items</h1>

<div class="row">
<% @menus.each do |menu| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!-- <li class="crop"> -->
        <img src="<%= menu.image %>">
      <!-- </li> -->
        <div class= "caption">
          <h3><%= menu.item %></h3>
          <h4>Cost: $<%= menu.cost %></h4>
          <h4>Ingredients: <%= menu.ingredients%></h4>
          <%= link_to "More Info", menu, class: "btn btn-default" %>

        </div>

    </div>

  </div>
  <% end %>

</div>

<br>

<%= link_to 'New Menu Item', new_menu_path, class: "btn btn-primary" %>
